{% extends "base.html" %}
{% block content %}

<!-- https://source.unsplash.com/720x600/?paper,pen -->
<!-- https://source.unsplash.com/1080x720/?job,work,happy -->

<!-- main body -->
<center>
<h1>Enter Your Values</h1>
</center>
<br>
<div class="container"> 
    <div class="row">
        <div class="col">
            <form action="/getResult" method="post">
                <table>
                    <tbody>
                        <tr>
                            <!-- age, sex, bmi, smoker, children, region_northwest, 
                                region_southeast, region_southwest -->
                            <td style="text-align:center">
                                <label>Age</label>
                                <input type="text" name="age">
                            </td>
                            <td style="text-align:center">
                                <label>Sex</label>
                                <select name="sex">
                                    <option value="0">Female</option>
                                    <option value="1">Male</option>
                                </select>
                            </td>
                            <td style="text-align:center">
                                <label>BMI</label>
                                <input type="text" name="bmi">
                            </td>
                            <td style="text-align:center">
                                <label>Smoker</label>
                                <select name="smoker">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </td>
                            <td style="text-align:center">
                                <label>Children</label>
                                <input type="text" name="children">
                            </td>
                            <td style="text-align:center">
                                <label>Region</label>
                                <select name="region">
                                    <option value="northeast">North-east</option>
                                    <option value="northwest">North-west</option>
                                    <option value="southeast">South-east</option>
                                    <option value="southwest">South-west</option>
                                </select>
                            </td>
                        </tr>
                        <!-- button -->
                        <tr>
                            <td colspan="6"><button type="submit" class="btn btn-primary">Submit</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col">
            <center> 
            <h1> Predicted Results : </h1>
            <b> {{ msg }} </b>
            </center>
        </div>
    </div>

</div>


{% endblock %}